/* Container for Sign-Up Form */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f4;
  position: relative;
  overflow: hidden; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  max-width: 300px;
  height: auto;
  object-fit: contain;
  margin-bottom: 2rem;
}

/*.tint {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.signup-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 30px;
  background-color: #ffffff; 
  border: 2px solid #E0E0E0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin-left: 50px;
}

.signup-box p {
  text-align: center;
}

.logo-text {
  font-size: 3rem; 
  font-weight: 900;
  align-items: center;
  color: #2C2C2C;
  margin: 0;
  font-family: 'Abril Fatface', serif;
}

.logo-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; 
  color: #696969c5;
  margin-top: 1rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.signup-button {
  background-color: #E0E0E0;
  color: white;
  padding: 1rem;
  width: 100%;
  border-radius: 2px;
  font-weight: bold;
  transition: background-color 0.3s;
  box-sizing: border-box;
  margin-top: 1rem;
}

.signup-button:hover {
  background-color: #2980b9;
}



/* Error message styling */
mat-error {
  color: red;
  font-size: 0.875rem;
}

/* Responsive design */
@media (max-width: 600px) {
  .signup-box {
    width: 90%;
  }
}
