<div class="container">
    <div class="container lagayan">

        <div class="row">
            <div class="col-3 prof">
                <div class="profile-container">
                    <img src="https://via.placeholder.com/150" alt="Profile Picture"
                        class="img-fluid rounded-circle mb-3">
                </div>
            </div>

            <div class=" col-9 mod">
                <div>
                    <h4>Profile</h4>
                    <p>Update your profile and details</p>
                </div>

                <div>
                    <button>
                        <span>Save</span>
                    </button>

                </div>
            </div>
        </div>



        <div class="container gig">
            <div>
                <div class="inputp">
                    <p>Username: </p>
                    <input type="text">
                </div>
                <div class="inputp">
                    <p>Contact Number: </p>
                    <input type="text">
                </div>
                <div class="inputp">
                    <p>Alternate Contact Number: </p>
                    <input type="text">
                </div>
                <div class="inputp">
                    <p>Bio: </p>
                    <input type="text">
                </div>
                <div class="inputp">
                    <p>Password: </p>
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
</div>