<div class="container">
    <div class="container lagayan">
        <div class="row">
            <div class="col-3 prof">
                <div class="profile-container">
                    <img src="https://via.placeholder.com/150" alt="Profile Picture"
                        class="img-fluid rounded-circle mb-3">
                </div>
            </div>

            <div class="col-9 mod">
                <div>
                    <h4>Profile: {{userProfile.name}}</h4>
                    <p>Update your profile and details</p>
                </div>
                <div>
                    <button>
                        <span>Save</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="container gig">
            <!-- Basic Details Section -->
            <div class="details">
                <h5>Basic Details</h5>
                <hr>
                <div class="inputp">
                    <label for="username">Username:</label>
                    <input id="username" type="text" placeholder="Enter your username" [(ngModel)]="userProfile.name">
                </div>
                <div class="inputp">
                    <label for="contact">Contact Number:</label>
                    <input id="contact" type="text" placeholder="Enter your contact number"
                        [(ngModel)]="userProfile.contact_number">
                </div>
                <div class="inputp">
                    <label for="email">Email:</label>
                    <input id="email" type="text" placeholder="Enter a valid email" [(ngModel)]="userProfile.email">
                </div>
                <hr>
            </div>

            <!-- Update Password Section -->
            <div class="details">
                <h5>Update Password</h5>
                <hr>
                <div class="inputp">
                    <label for="current-password">Current Password:</label>
                    <input id="current-password" type="password" placeholder="Enter your current password">
                </div>
                <div class="inputp">
                    <label for="new-password">New Password:</label>
                    <input id="new-password" type="password" placeholder="Enter your new password">
                </div>
                <hr>
            </div>
        </div>

    </div>
</div>