<app-header></app-header>
<section class="container py-6 antialiased bg-gray-50 dark:bg-gray-900 md:py-12">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
        <div class="items-end justify-between mb-4 space-y-4 sm:flex sm:space-y-0 md:mb-8">
            <div>
                <nav class="flex" aria-label="Breadcrumb">
                    <ol class="inline-flex space-x-1 items-md:space-x-2 rtl:space-x-reverse">
                        <li class="inline-flex items-center" *ngFor="let breadcrumb of breadcrumbs; let last = last">
                            <a [routerLink]="breadcrumb.link"
                                class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
                                <svg *ngIf="breadcrumb.label === 'Home'" class="me-2.5 h-3 w-3" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                                </svg>
                                {{ breadcrumb.label }}
                            </a>
                            <ng-container *ngIf="!last">
                                <svg class="w-5 h-5 text-gray-700 rtl:rotate-180" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m9 5 7 7-7 7" />
                                </svg>
                            </ng-container>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="py-0 antialiased bg-white dark:bg-gray-900 md:py-16">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Shopping Cart</h2>

        <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
            <div class="flex-none w-full mx-auto lg:max-w-2xl xl:max-w-4xl">
                <div class="space-y-6">
                    <div *ngFor="let item of cartItems"
                        class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm bg-opacity-60 backdrop-blur-lg dark:border-gray-700 dark:bg-gray-800 md:p-6">
                        <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
                            <img class="w-20 h-20 dark:hidden" [src]="item.fullImageUrl"
                                alt="{{ item.product_name || 'Default Image' }}" />
                            <!-- Dark Mode -->
                            <img class="hidden w-20 h-20 dark:block" [src]="item.fullImageUrl"
                                alt="{{ item.product_name || 'Default Image' }}" />

                            <label for="counter-input" class="sr-only">Choose quantity:</label>
                            <div class="flex items-center justify-between md:order-3 md:justify-end">
                                <div class="flex items-center">
                                    <button type="button" id="decrement-button"
                                        (click)="sub(item.order_id, item.product_id)"
                                        data-input-counter-decrement="counter-input"
                                        class="inline-flex items-center justify-center w-5 h-5 bg-gray-100 border border-gray-300 rounded-md shrink-0 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
                                        <svg class="h-2.5 w-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="M1 1h16" />
                                        </svg>
                                    </button>
                                    <input type="text" id="counter-input" data-input-counter [(ngModel)]="item.quantity"
                                        class="w-10 text-sm font-medium text-center text-gray-900 bg-transparent border-0 shrink-0 focus:outline-none focus:ring-0 dark:text-white"
                                        placeholder="" value="2" required />
                                    <button type="button" id="increment-button"
                                        (click)="add(item.order_id, item.product_id)"
                                        data-input-counter-increment="counter-input"
                                        class="inline-flex items-center justify-center w-5 h-5 bg-gray-100 border border-gray-300 rounded-md shrink-0 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
                                        <svg class="h-2.5 w-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="M9 1v16M1 9h16" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="text-end md:order-4 md:w-32">
                                    <p class="text-base font-bold text-gray-900 dark:text-white">₱{{ item.unit_price *
                                        item.quantity }}</p>
                                </div>
                            </div>

                            <div class="flex-1 w-full min-w-0 space-y-4 md:order-2 md:max-w-md">
                                <a href="#"
                                    class="text-base font-medium text-gray-900 hover:underline dark:text-white">{{
                                    item.product_name}}</a>

                                <div class="flex items-center gap-4">
                                    <button type="button"
                                        class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-gray-400 dark:hover:text-white">
                                        <svg class="me-1.5 h-5 w-5" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z" />
                                        </svg>
                                        Add to Favorites
                                    </button>

                                    <button type="button"
                                        class="inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500"
                                        (click)="delete(item.order_id, item.product_id)">
                                        <svg class="me-1.5 h-5 w-5" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                                        </svg>
                                        Remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-1 max-w-4xl mx-auto mt-6 space-y-6 lg:mt-0 lg:w-full">
                <div
                    class="p-4 space-y-4 bg-white border border-gray-200 rounded-lg shadow-sm bg-opacity-60 backdrop-blur-lg dark:border-gray-700 dark:bg-gray-800 sm:p-6">
                    <p class="text-xl font-semibold text-gray-900 dark:text-white">Order summary</p>

                    <div class="space-y-4">
                        <div class="space-y-2">
                            <div *ngFor="let iteg of cartItems">
                                <dl class="flex items-center justify-between gap-4">
                                    <dt class="text-base font-normal text-gray-500 dark:text-gray-400">
                                        {{iteg.product_name}} (₱{{iteg.unit_price}}) x {{
                                        iteg.quantity }}
                                    </dt>
                                    <p class="text-base text-gray-900 dark:text-white">₱{{ iteg.unit_price *
                                        iteg.quantity }}
                                    </p>

                                </dl>
                            </div>

                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Voucher: </dt>
                                <dd class="text-base font-medium text-green-600">₱ 00.00</dd>
                            </dl>

                        </div>

                        <dl
                            class="flex items-center justify-between gap-4 pt-2 border-t border-gray-200 dark:border-gray-700">
                            <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
                            <dd class="text-base font-bold text-gray-900 dark:text-white">₱ {{ calculateTotal()}}</dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<div class="grid max-w-6xl grid-cols-1 gap-6 mx-auto mb-6 lg:grid-cols-2">
    <div>
        <div class="p-6 mb-6 bg-white rounded-lg shadow-md bg-opacity-60 backdrop-blur-lg">
            <div class="flex items-center justify-between mb-4">
                <h2 class="text-2xl font-bold">
                    Personal details
                </h2>
                <a class="text-blue-600" href="#">
                    Edit
                </a>
            </div>
            <div *ngIf="prifiledata">
                <p class="text-lg font-semibold">
                    {{prifiledata.name}}
                </p>
                <p class="text-gray-600">
                    {{prifiledata.email}}
                </p>
                <p class="text-gray-600">
                    {{prifiledata.contact_number}}
                </p>
            </div>
        </div>
        <div class="p-6 mb-6 bg-white rounded-lg shadow-md cursor-pointer bg-opacity-60 backdrop-blur-lg">
            <div class="flex items-center justify-between mb-4">
                <h2 class="text-2xl font-bold">
                    Payment
                </h2>
                <a class="text-blue-600" (click)="togglePaymentSection()">
                    Show all
                </a>
            </div>

            <div class="p-4 mb-4 border rounded-lg cursor-pointer" (click)="orderData.modeOfPayment = 'Cash-on-Pickup'"
                [class.border-blue-500]="orderData.modeOfPayment === 'Cash-on-Pickup'">
                <div class="flex items-center mb-2 cursor-pointer">
                    <input checked class="mr-2" name="payment" type="radio" [(ngModel)]="orderData.modeOfPayment"
                        value="Cash-on-Pickup" />
                    <img alt="Cash on Pickup icon" class="mr-2" height="40"
                        src="https://storage.googleapis.com/a1aa/image/ALHcZXXjIIZFKxCAFwsqw7aGfHWlLDXuzHkdjUCNIb28Cw9JA.jpg"
                        width="40" />
                    <span class="text-lg font-semibold">
                        Cash on Pickup
                    </span>
                    <span class="px-2 py-1 ml-auto text-sm font-semibold text-blue-600 bg-blue-100 rounded">
                        Primary
                    </span>
                </div>
                <p class="text-gray-600">
                    Pay in cash when you pick up your order. This is a convenient option for in-store or designated
                    pickup locations.
                </p>
            </div>
            <div class="p-4 mb-4 border rounded-lg cursor-pointer" [class.hidden]="!showCashlessPayment"
                (click)="orderData.modeOfPayment = 'Gcash'"
                [class.border-blue-500]="orderData.modeOfPayment === 'Gcash'">
                <div class="flex items-center mb-2">
                    <input class="mr-2" name="payment" type="radio" [(ngModel)]="orderData.modeOfPayment"
                        value="Gcash" />
                    <img alt="Cashless Payment icon" class="mr-2" height="40"
                        src="https://storage.googleapis.com/a1aa/image/8fCZifmJyqqy6kHx9afa5XQnC4fAnq6bew0xRMPF0EewyB4eJA.jpg"
                        width="40" />
                    <span class="text-lg font-semibold">
                        Cashless Payment
                    </span>
                </div>
                <p class="text-gray-600">
                    Pay using your online e-wallet (GCash, Paymaya) or Credit and Debit Card.
                </p>
            </div>
            <div class="flex items-center text-blue-600">
                <i class="mr-2 fas fa-tag"></i>
                <a class="font-semibold" href="#">
                    Apply a voucher
                </a>
            </div>
        </div>

    </div>
    <div>
        <div class="p-6 mt-8 mb-6 bg-white rounded-lg shadow-md bg-opacity-60 backdrop-blur-lg">
            <div class="flex items-center justify-between mb-4">
                <h2 class="text-2xl font-bold">
                    Special Instructions
                </h2>
            </div>
            <div>
                <textarea class="w-full p-2 border rounded-lg" placeholder="Enter any special instructions here..."
                    rows="4" [(ngModel)]="orderData.specialInstruction"></textarea>
            </div>
        </div>
        <div class="p-6 mb-6 bg-white rounded-lg shadow-md bg-opacity-60 backdrop-blur-lg">
            <div class="flex items-center justify-between mb-4">
                <h2 class="text-2xl font-bold">
                    Pickup Time
                </h2>
            </div>
            <div>
                <input class="w-full p-3 text-gray-900 bg-transparent border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:focus:ring-blue-400" type="datetime-local" [(ngModel)]="orderData.pickupTime"
                    name="pickupTime" />
            </div>
            <p class="mt-2 text-gray-600">PickUp time for: {{ getCurrentDateTime() }}</p>
        </div>
    </div>
    <div class="flex justify-center cursor-pointer lg:col-span-2">
        <button (click)="proceedToCheckout()" class="flex items-center justify-center w-full px-4 py-2 text-base font-semibold text-white transition duration-300 bg-blue-600 rounded-lg sm:py-3 sm:px-6 sm:text-lg hover:bg-blue-700">
            <i class="mr-2 fas fa-shopping-cart"></i>
            Proceed to Checkout
        </button>

    </div>
</div>