<div class="flex flex-wrap items-start justify-between max-w-screen-xl gap-4 mx-auto">
<div class="w-full bg-white border border-gray-200 rounded-lg shadow h-52 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center gap-4 p-4">
        <!--STORE IMAGE-->
        <img class="object-cover w-20 h-20rounded-full md:w-44 md:h-44" src="assets/kkb.jpg" alt="Kusina Ni Kalbo">
        
        <!--STORE DETAILS-->
        <div class="flex flex-col justify-between leading-normal">
            <!-- STORE NAME-->
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Kusina Ni Kalbo</h5>
            
            <!--STORE STATUS/HOURS-->
            <div class="flex items-center mb-3 space-x-2">
                <!--ICON/OPEN-->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 text-green-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p class="text-sm font-medium text-gray-700 dark:text-gray-400">Open</p>
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">8:00 AM - 5:00 PM</span>
            </div>
            
            <!--RATINGS-->
            <div class="flex items-center space-x-2">
                <div class="flex text-yellow-400">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.956a1 1 0 00.95.69h4.18c.969 0 1.371 1.24.588 1.81l-3.388 2.465a1 1 0 00-.364 1.118l1.287 3.957c.3.921-.755 1.688-1.539 1.118L10 13.348l-3.39 2.464c-.783.57-1.838-.197-1.539-1.118l1.287-3.957a1 1 0 00-.364-1.118L2.606 8.383c-.783-.57-.38-1.81.588-1.81h4.18a1 1 0 00.95-.69l1.286-3.956z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.956a1 1 0 00.95.69h4.18c.969 0 1.371 1.24.588 1.81l-3.388 2.465a1 1 0 00-.364 1.118l1.287 3.957c.3.921-.755 1.688-1.539 1.118L10 13.348l-3.39 2.464c-.783.57-1.838-.197-1.539-1.118l1.287-3.957a1 1 0 00-.364-1.118L2.606 8.383c-.783-.57-.38-1.81.588-1.81h4.18a1 1 0 00.95-.69l1.286-3.956z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.956a1 1 0 00.95.69h4.18c.969 0 1.371 1.24.588 1.81l-3.388 2.465a1 1 0 00-.364 1.118l1.287 3.957c.3.921-.755 1.688-1.539 1.118L10 13.348l-3.39 2.464c-.783.57-1.838-.197-1.539-1.118l1.287-3.957a1 1 0 00-.364-1.118L2.606 8.383c-.783-.57-.38-1.81.588-1.81h4.18a1 1 0 00.95-.69l1.286-3.956z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.956a1 1 0 00.95.69h4.18c.969 0 1.371 1.24.588 1.81l-3.388 2.465a1 1 0 00-.364 1.118l1.287 3.957c.3.921-.755 1.688-1.539 1.118L10 13.348l-3.39 2.464c-.783.57-1.838-.197-1.539-1.118l1.287-3.957a1 1 0 00-.364-1.118L2.606 8.383c-.783-.57-.38-1.81.588-1.81h4.18a1 1 0 00.95-.69l1.286-3.956z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-300" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.956a1 1 0 00.95.69h4.18c.969 0 1.371 1.24.588 1.81l-3.388 2.465a1 1 0 00-.364 1.118l1.287 3.957c.3.921-.755 1.688-1.539 1.118L10 13.348l-3.39 2.464c-.783.57-1.838-.197-1.539-1.118l1.287-3.957a1 1 0 00-.364-1.118L2.606 8.383c-.783-.57-.38-1.81.588-1.81h4.18a1 1 0 00.95-.69l1.286-3.956z" />
                    </svg>
                </div>
                <span class="text-sm font-medium text-gray-700 dark:text-gray-400">4.9/5</span>
            </div>
        </div>
    </div>
        <ul class="flex flex-row flex-wrap font-medium border border-gray-100 rounded-lg md:p-0 bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
                <a href="#" class="block px-3 py-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Store</a>
              </li>
            <li>
                <a href="#" class="block px-3 py-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">All Products</a>
              </li>
          <li>
              <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full px-3 py-2 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Categories<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg></button>
              <!-- Dropdown menu -->
              <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownLargeButton">
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Food</a>
                    </li>    
                </ul>   
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Drinks</a>
                    </li>
                
                  <div class="py-1">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">School Supplies</a>
                  </div>
              </div>
            </li>
        </ul>
      </div>
    </div>

  
