*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;
  position: relative;
  overflow: hidden; 
  background-color: #f4f4f4;
}

.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  max-width: 300px;
  height: auto;
  object-fit: contain;
  margin-bottom: 2rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
}

.login-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 30px;
  background-color: #ffffff; 
  border: 2px solid #E0E0E0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin-right: 300px;
}

.login-box p {
  text-align: center;
}

.logo-text {
  font-size: 4rem; 
  font-weight: 900;
  align-items: center;
  color: #2C2C2C;
  margin: 0;
  font-family: 'Abril Fatface', serif;
}

.logo-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; /* Or any font you prefer */
  color: #696969c5; /* You can adjust the color */
  margin-top: 1rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

mat-checkbox {
  margin-right: 0;
  font-size: 1rem;
}

.forgot-password-link {
  font-size: 0.9rem;
  color: #32CD32; 
  text-decoration: none;
  position: relative;
  top: 10px;
  transition: color 0.3s;
  margin-left: 1rem; 
}

.forgot-password-link:hover {
  color: #FF0000;
}

.login-button {
  background-color: #E0E0E0;
  color: white;
  padding: 1rem;
  width: 100%;
  border-radius: 2px;
  font-weight: bold;
  transition: background-color 0.3s;
  box-sizing: border-box;
  margin-top: 1rem;
}

.login-button:hover {
  background-color: #D0D0D0;
}
