<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#FBCEB1" type="ball-rotate" [fullScreen]="true">
  <p style="color: white; font-size: 20px"> Loading... </p>
</ngx-spinner>

<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="flex flex-col w-full max-w-4xl p-8 bg-white rounded-lg md:flex-row fade-in">
    <div class="flex flex-col items-center justify-center p-6 md:w-1/2">
      <img alt="Unimart Logo" class="w-24 h-24 mb-4" height="150" src="assets/unimartLogo.png" width="150" />
      <h1 class="mb-2 text-2xl font-bold text-gray-800">
        UnimartExpress: PASABUY
      </h1>
      <p class="text-gray-600">
        Your gateway to product and services.
      </p>
    </div>
    <div class="p-6 md:w-1/2">
      <h2 class="mb-6 text-2xl font-bold text-center">
        Login to Your Account
      </h2>
      <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
        <div class="mb-4">
          <label class="block mb-2 font-medium text-gray-700" for="email">
            Email
          </label>
          <input formControlName="email" id="email"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Enter your email" type="email" required />
        </div>
        <div class="mb-6">
          <label class="block mb-2 font-medium text-gray-700" for="password">
            Password
          </label>
          <input formControlName="password" id="password"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Enter your password" type="password" required />
        </div>
        <div class="flex items-center justify-between mb-6">
          <div class="flex items-center">
            <input id="remember" type="checkbox" formControlName="rememberMe"
              class="w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500" />
            <label class="block ml-2 text-gray-900" for="remember">
              Remember me
            </label>
          </div>
          <a class="text-blue-600 hover:underline" href="./forgot-password">
            Forgot password?
          </a>
        </div>
        <button
          class="w-full py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="submit" [disabled]="loading">
          Login
        </button>
      </form>
      <p class="mt-6 text-center text-gray-600">
        Don't have an account?
        <a class="text-blue-600 hover:underline" href="./signup">
          Sign up
        </a>
      </p>
    </div>
  </div>
</div>