<div class="container max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto my-4 sm:my-10">
    <div class="sm:w-11/12 lg:w-3/4 mx-auto">


        <div id="invoice">
            <div class="flex flex-col p-4 sm:p-10 bg-white shadow-md rounded-xl dark:bg-neutral-800">
                <div class="flex justify-between">
                    <div>
                        <img src="/assets/unimartLogo.png" class="w-16 h-16" alt="">

                        <h1 class="mt-2 text-lg md:text-xl font-semibold text-blue-600 dark:text-white">UniMart Express.
                        </h1>
                    </div>


                    <div class="text-end" *ngIf="carts">
                        <h2 class="text-2xl md:text-3xl font-semibold text-gray-800 dark:text-neutral-200">Invoice #
                        </h2>
                        <span class="mt-1 block text-gray-500 dark:text-neutral-500">34657{{carts.oder_id}}</span>
                    </div>

                </div>


                <div *ngIf="userProfile" class="mt-8 grid sm:grid-cols-2 gap-3">
                    <div>
                        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">Bill to:</h3>
                        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">{{userProfile.name}}</h3>
                        <p class="mt-2 not-italic text-gray-500 dark:text-neutral-500"> Phone:
                            {{userProfile.contact_number}}
                        </p>
                    </div>


                    <div *ngIf="carts" class="sm:text-end space-y-2">

                        <div class="grid grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2">
                            <dl class="grid sm:grid-cols-5 gap-x-3">
                                <dt class="col-span-3 font-semibold text-gray-800 dark:text-neutral-200">Order Date:
                                </dt>
                                <dd class="col-span-2 text-gray-500 dark:text-neutral-500">{{carts.order_date}}</dd>
                            </dl>
                            <p class="mt-2 not-italic text-gray-500 dark:text-neutral-500"> MOP:
                                {{carts.mode_of_payment}}
                            </p>
                        </div>

                    </div>

                </div>


                <div class="mt-6">
                    <div class="border border-gray-200 p-4 rounded-lg space-y-4 dark:border-neutral-700">
                        <div class="hidden sm:grid sm:grid-cols-5">
                            <div
                                class="sm:col-span-2 text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                Item</div>
                            <div class="text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                Qty
                            </div>
                            <div class="text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                Rate
                            </div>
                            <div class="text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                Amount
                            </div>
                        </div>

                        <div class="hidden sm:block border-b border-gray-200 dark:border-neutral-700"></div>

                        <div *ngFor="let item of cartItems" class="grid grid-cols-3 sm:grid-cols-5 gap-2">
                            <div class="col-span-full sm:col-span-2">
                                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                    Item
                                </h5>
                                <p class="font-medium text-gray-800 dark:text-neutral-200">{{item.product_name}}</p>
                            </div>
                            <div>
                                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                    Qty
                                </h5>
                                <p class="text-gray-800 dark:text-neutral-200">{{item.quantity}}</p>
                            </div>
                            <div>
                                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                    Rate
                                </h5>
                                <p class="text-gray-800 dark:text-neutral-200">₱{{item.product_price}}</p>
                            </div>
                            <div>
                                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                    Amount</h5>
                                <p class="sm:text-end text-gray-800 dark:text-neutral-200">₱{{item.quantity *
                                    item.product_price}}</p>
                            </div>
                            <div class="sm:hidden border-b border-gray-200 dark:border-neutral-700"></div>

                        </div>

                    </div>
                </div>


                <div class="mt-8 flex sm:justify-end">
                    <div *ngIf="carts" class="w-full max-w-2xl sm:text-end space-y-2">
                        <div class="grid grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2">
                            <dl class="grid sm:grid-cols-5 gap-x-3">
                                <dt class="col-span-3 font-semibold text-gray-800 dark:text-neutral-200">Subtotal:</dt>
                                <dd class="col-span-2 text-gray-500 dark:text-neutral-500">₱{{carts.total_amount}}</dd>
                            </dl>

                            <dl class="grid sm:grid-cols-5 gap-x-3">
                                <dt class="col-span-3 font-semibold text-gray-800 dark:text-neutral-200">Total:</dt>
                                <dd class="col-span-2 text-gray-500 dark:text-neutral-500">₱{{carts.total_amount}}</dd>
                            </dl>

                            <dl class="grid sm:grid-cols-5 gap-x-3">
                                <dt class="col-span-3 font-semibold text-gray-800 dark:text-neutral-200">Amount paid:
                                </dt>
                                <dd class="col-span-2 text-gray-500 dark:text-neutral-500">₱00.00</dd>
                            </dl>
                        </div>

                    </div>
                </div>


                <div class="mt-8 sm:mt-12">
                    <h4 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">Thank you!</h4>
                    <p class="text-gray-500 dark:text-neutral-500">This invoice is generated &#64; UnimartExpress:
                        PasaBuy
                    </p>
                    <div class="mt-2">
                        <p class="block text-sm font-medium text-gray-800 dark:text-neutral-200">
                            unimartexpress&#64;gmail.com</p>
                        <p class="block text-sm font-medium text-gray-800 dark:text-neutral-200">Gordon College</p>
                    </div>
                </div>

                <p class="mt-5 text-sm text-gray-500 dark:text-neutral-500">© ICTe SOLUTIONS - UNIMART EXPRESS</p>
            </div>
        </div>


        <div class="mt-6 flex justify-end gap-x-3">
            <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                (click)="downloadPDF()">
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                    <polyline points="7 10 12 15 17 10" />
                    <line x1="12" x2="12" y1="15" y2="3" />
                </svg>
                Invoice PDF
            </a>
            <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                href="#">
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <polyline points="6 9 6 2 18 2 18 9" />
                    <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2" />
                    <rect width="12" height="8" x="6" y="14" />
                </svg>
                Print
            </a>
        </div>
    </div>
</div>