<app-header></app-header>
<section class="container antialiased bg-gray-50 dark:bg-gray-900 md:py-4">
  <div class="max-w-screen-xl px-4 py-2 mx-auto 2xl:px-0">
    <!--HEADINGS(IF SAN LOCATION)-->
    <div class="items-end justify-between mb-4 space-y-4 sm:flex sm:space-y-0 md:mb-8">
      <div>
        <nav class="flex" aria-label="Breadcrumb">
          <ol class="inline-flex space-x-1 items- md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
              <a [routerLink]="breadcrumbs[0].link"
                class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
                <svg class="me-2.5 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                  viewBox="0 0 20 20">
                  <path
                    d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                </svg>
                {{ breadcrumbs[0].label}}
              </a>
            </li>
            <li aria-current="page">
              <div class="flex items-center">
                <svg class="w-5 h-5 text-gray-400 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m9 5 7 7-7 7" />
                </svg>
                <span class="text-sm font-medium text-gray-500 ms-1 dark:text-gray-400 md:ms-2">{{
                  breadcrumbs[1].label}}</span>
              </div>
            </li>
          </ol>
        </nav>
      </div>
      <div class="flex items-center space-x-4">
      </div>
    </div>
  </div>
</section>

<!-- baner page -->
<div *ngIf="vendorProfile" class="container w-full">
  <div
    class="flex flex-col items-center justify-end w-full p-10 space-y-6 bg-white border-gray-100 rounded-lg border-3 md:flex-row md:space-y-0 md:space-x-6 max-w-8xl">
    <img alt="{{ vendorProfile.vendor_name }}" class="w-24 h-24" [src]="'assets/' + ('unimartLogo.png')" />
    <div class="flex-1 text-center md:text-left">
      <h1 class="text-2xl font-bold">{{vendorProfile.vendor_name}}</h1>
      <div class="flex flex-col items-center mt-2 md:flex-row md:space-x-2">
        <i class="text-green-500 fas fa-check-circle"></i>
        <span class="text-gray-600">Open</span>
        <span class="text-gray-600">{{vendorProfile.operating_hours}}</span>
      </div>
      <a (click)="reviewpage()">
        <div class="flex flex-col items-center mt-2 md:flex-row md:space-x-2">
          <div class="flex items-center">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="currentColor" viewBox="0 0 24 24">
                <path *ngIf="averageRating >= star"
                  d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                <path *ngIf="averageRating < star"
                  d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                  fill="none" stroke="currentColor" />
              </svg>
            </ng-container>
          </div>
          <span class="text-gray-600">({{ averageRating | number: '1.1-1' }})</span>
          <a class="text-blue-600 underline" href="#">{{ totalRatings }}</a>
          <span class="text-gray-600">({{ averageRating | number: '1.1-1' }}) Review</span>
        </div>
      </a>
    </div>
    <button (click)="goToChat({ vendor_id: vendorProfile.vendor_id, vendor_name: vendorProfile.vendor_name })"
      class="px-4 py-2 text-white bg-blue-600 rounded-lg">
      Chat with {{ vendorProfile.vendor_name }}
    </button>
  </div>
  <div
    class="relative flex flex-wrap items-center justify-center gap-3 py-2 mt-3 mb-6 md:py-8 sm:mt-6 sm: lg:mt-12 xl:mt-16">
    <button type="button"
      class="px-3 py-1.5 mb-3 text-xs font-medium text-center text-blue-700 bg-white border border-blue-600 rounded-full hover:text-orange-600 hover:bg-blue-700 focus:ring-2 focus:outline-none focus:ring-blue-300 md:text-base md:px-5 me-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800">
      All categories
    </button>
    <button *ngFor="let item of categories" type="button"
      class="px-3 py-1.5 mb-3 text-xs font-medium text-center text-gray-900 bg-white border border-white rounded-full hover:text-orange-500 hover:border-gray-200 hover:border-2 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 focus:ring-2 focus:outline-none focus:ring-gray-300 md:text-base me-2 dark:text-white dark:focus:ring-gray-800">
      {{item.category}}
    </button>
  </div>
</div>
<!-- Product Page -->
<div class="container p-4 mx-auto">
  <div class="grid grid-cols-2 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
    <div *ngFor="let product of products"
      class="overflow-hidden transition duration-500 transform bg-white rounded-lg shadow-lg hover:scale-105">
      <a (click)="navigateToProductDetails(product)">
        <img alt="Three cups of Pearl Tea with different flavors" class="object-cover w-full h-48"
          [src]="product.fullImageUrl" alt="{{ product.product_name }}" />
      </a>
      <div class="p-4">
        <a (click)="navigateToProductDetails(product)">
          <h2 class="text-xl font-semibold"> {{ product.product_name }}</h2>
        </a>

        <p class="text-gray-500">{{ product.category }}</p>
        <p class="text-lg font-bold"> ₱{{ product.price }}</p>
        <button
          class="flex items-center justify-center w-full py-2 mt-4 text-white transition duration-300 bg-blue-600 rounded-lg hover:bg-blue-700"
          (click)="addToCart(product)">
          <i class="mr-2 fas fa-cart-plus"></i> Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>




<!-- SECTION FOR THE ORDER SUMMARY -->
<!--<section *ngIf="cartItems.length > 0" class="py-8 antialiased bg-white dark:bg-gray-900 md:py-5">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Items added to your cart:</h2>

    <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
      <div class="flex-none w-full mx-auto lg:max-w-2xl xl:max-w-4xl">
        <div class="space-y-6">
          <div *ngFor="let item of cartItems"
            class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6">
            <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
              <a href="#" class="shrink-0 md:order-1">
                <img class="w-20 h-20 dark:hidden" [src]="item.fullImageUrl" alt="imac image" />
                <img class="hidden w-20 h-20 dark:block" [src]="item.fullImageUrl" alt="imac image" />
              </a>

              <label for="counter-input" class="sr-only">Choose quantity:</label>
              <div class="flex items-center justify-between md:order-3 md:justify-end">
                <div class="flex items-center">
                  <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                    class="inline-flex items-center justify-center w-5 h-5 bg-gray-100 border border-gray-300 rounded-md shrink-0 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
                    (click)="decrement(item)">
                    <svg class="h-2.5 w-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h16" />
                    </svg>
                  </button>
                  <input type="text" id="counter-input" data-input-counter
                    class="w-10 text-sm font-medium text-center text-gray-900 bg-transparent border-0 shrink-0 focus:outline-none focus:ring-0 dark:text-white"
                    [(ngModel)]="item.quantity" required />
                  <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                    class="inline-flex items-center justify-center w-5 h-5 bg-gray-100 border border-gray-300 rounded-md shrink-0 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
                    (click)="increment(item)">
                    <svg class="h-2.5 w-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 1v16M1 9h16" />
                    </svg>
                  </button>
                </div>
                <div class="text-end md:order-4 md:w-32">
                  <p class="text-base font-bold text-gray-900 dark:text-white">₱{{ getProductPrice(item) }}</p>
                </div>
              </div>

              <div class="flex-1 w-full min-w-0 space-y-4 md:order-2 md:max-w-md">
                <a href="#" class="text-base font-medium text-gray-900 hover:underline dark:text-white">
                  {{ item.product_name }}
                </a>

                <div class="flex items-center gap-4">
                  <button type="button"
                    class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-gray-400 dark:hover:text-white">
                    <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                      height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z" />
                    </svg>
                    Add to Favorites
                  </button>

                  <button type="button"
                    class="inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500"
                    (click)="removeFromCart(item.product_id)">
                    <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                      height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-1 max-w-4xl mx-auto mt-6 space-y-6 lg:mt-0 lg:w-full">
        <div
          class="p-4 space-y-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
          <p class="text-xl font-semibold text-gray-900 dark:text-white">Order summary</p>

          <div class="space-y-4">
            <div class="space-y-2">
              <div *ngFor="let iteg of cartItems">
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500 dark:text-gray-400">{{iteg.product_name}} x {{
                    iteg.quantity }}
                  </dt>
                  <p class="text-base text-gray-900 dark:text-white">₱{{ iteg.price * iteg.quantity }}</p>
                </dl>
              </div>
              <hr>

              <dl class="flex items-center justify-between gap-4">
                <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Voucher: </dt>
                <dd class="text-base font-medium text-green-600">-₱{{ voucherAmount }}</dd>
              </dl>

            </div>

            <dl class="flex items-center justify-between gap-4 pt-2 border-t border-gray-200 dark:border-gray-700">
              <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
              <dd class="text-base font-bold text-gray-900 dark:text-white">₱{{ getTotalPrice() }}</dd>
            </dl>
          </div>

          <a (click)="proceedToCheckout()"
            class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Proceed
            to Checkout</a>

        </div>

      </div>
    </div>
  </div>
</section>-->